In [9]:
import pandas as pd
from urllib.parse import urlparse
import numpy as np
import nltk.data
from requests_html import HTMLSession

def parse_elements(url,element):
    session = HTMLSession()
    r = session.get(url)
    elements = r.html.find(element)
    return [element.text for element in elements]

url = 'https://www.censtatd.gov.hk/en/scode600.html'
paragraphs = parse_elements(url, 'p')
links = parse_elements(url, 'a')

In [11]:
df = pd.DataFrame(paragraphs, columns=['Text'])

In [23]:
df.head(10)

                                                Text
0                                        Demographic
1                                               2016
2                                               2021
3                                         Population
4                                          7 336 585
5                                          7 413 070
6                                         Median age
7                                               43.4
8                                               46.3
9  Dependency ratio (number of persons aged under...

In [25]:
header_df = df.iloc[0::3].reset_index(drop=True)
data_2016_df = df.iloc[1::3].reset_index(drop=True)
data_2021_df = df.iloc[2::3].reset_index(drop=True)

data_2016_df.columns = ["2016"]
data_2021_df.columns = ["2021"]

result_df = pd.concat([header_df, data_2016_df, data_2021_df], axis=1)

result_df

,Text,2016,2021
0,Demographic,2016,2021
1,Population,7 336 585,7 413 070
2,Median age,43.4,46.3
3,Dependency ratio (number of persons aged under...,373,438
4,Sex ratio (number of males per 1 000 females),852,839
5,Never-married population aged 15 and over (%),30.1,28.6
6,Non-Chinese ethnicities (%),8.0,8.4
7,Household,2016,2021
8,Number of domestic households,2 509 734,2 674 161
9,Average domestic household size,2.8,2.7
10,Median monthly domestic household income (HK$),"25,000","27,650"
11,Education,2016,2021
12,Population aged 15 and over having attended po...,32.7,34.6
13,Economic,2016,2021
14,Labour force participation rate (%),60.8,59.7
15,Working population,3 756 612,3 681 295
16,Median monthly income from main employment (HK$),"15,000","18,000"
17,Median weekly usual hours of work (including a...,45,45
18,Housing and Internal Migration,2016,2021
19,Number of occupied quarters,2 526 026,2 688 812
20,Median floor area of accommodation of domestic...,40,40
21,Median per capita floor area of accommodation ...,15.0,16.0
22,Median rent to income ratio (%),13.6,16.8
23,Median mortgage payment and loan repayment to ...,18.4,20.8
24,Population aged 5 and over having internally m...,10.6,11.1
25,Latest Release Date,Upcoming Release Date,Title
26,Latest Issue,Release Date,File Download

In [35]:
result_df['Text']

0                                           Demographic
1                                            Population
2                                            Median age
3     Dependency ratio (number of persons aged under...
4         Sex ratio (number of males per 1 000 females)
5         Never-married population aged 15 and over (%)
6                           Non-Chinese ethnicities (%)
7                                             Household
8                         Number of domestic households
9                       Average domestic household size
10       Median monthly domestic household income (HK$)
11                                            Education
12    Population aged 15 and over having attended po...
13                                             Economic
14                  Labour force participation rate (%)
15                                   Working population
16     Median monthly income from main employment (HK$)
17    Median weekly usual hours of work (including a...
18                       Housing and Internal Migration
19                          Number of occupied quarters
20    Median floor area of accommodation of domestic...
21    Median per capita floor area of accommodation ...
22                      Median rent to income ratio (%)
23    Median mortgage payment and loan repayment to ...
24    Population aged 5 and over having internally m...
25                                  Latest Release Date
26                                         Latest Issue
Name: Text, dtype: object

In [36]:
# Define the indicators you want to compare
indicators_to_compare = ["Population", "Number of domestic households", "Working population", "Number of occupied quarters"]

# Create a mask to filter rows where the 'Text' column matches the selected indicators
mask = result_df['Text'].isin(indicators_to_compare)

# Use the mask to select the rows corresponding to the selected indicators
selected_data = result_df[mask]

# Display the selected data
print(selected_data)

                             Text       2016       2021
1                      Population  7 336 585  7 413 070
8   Number of domestic households  2 509 734  2 674 161
15             Working population  3 756 612  3 681 295
19    Number of occupied quarters  2 526 026  2 688 812

In [42]:


# Calculate the percentage change for each indicator
selected_data.loc[:, 'Percentage Change'] = ((selected_data['2021'] - selected_data['2016']) / selected_data['2016']) * 100

# Display the resulting DataFrame
print(selected_data[['Text', 'Percentage Change']])

                             Text  Percentage Change
1                      Population           1.042515
8   Number of domestic households           6.551571
15             Working population          -2.004918
19    Number of occupied quarters           6.444352